.answers {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  display: flex;
  align-items: stretch;
}

 .answers .answersTable {
  width: 96%;
  margin-left:30px;
  margin-top: 1px;
  border-collapse: collapse;
}

 .answers #tr1 {
    border-width: 3px;
    border-top: 4px gray dotted;;
    border-bottom: 4px gray dotted;
  }
.answers #answerText {
    font-weight: bolder;
    width: 50%;
    overflow: auto;
}

.answers .answersTable #answerText a {
  color: #007bff; /* Sets the link color */
  text-decoration: none; /* Removes the underline */
  transition: color 0.3s; /* Smooth color transition for hover effect */
}

.answers .answersTable #answerText a:hover {
  color: #0056b3; /* Darkens the link color on hover */
  text-decoration: underline; /* Underlines the link on hover */
}


 .answers #author {
    color: red;
    margin-left: 500px;
    overflow: auto;
}

.answers #date {
  color: gray;
  margin-left: 500px;
}
.answers .authorAndDate {
  list-style-type: none;
}

