/* ask question button */
#askQuestionButtonSP {
  background-color: rgb(15, 170, 205);
  border: none;
  width: 150px;
  font-size: 16px;
  padding: 10px;
  border-width: 2px;
  color: white;
  display: flex;
  margin-left: 140px;
  margin-top: 20px;
  flex-direction: column;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
