/* The navigation menu links */
.btn-link {
    display: flex;
    color: blue;
    padding: 16px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    position: relative;
    width: 100%;
    border: none;
    background-color: whitesmoke;
    height: 55px;
    cursor: pointer;
    border: none;
    box-sizing: border-box; 
    flex-direction: column;
  
  }
  
  .btn-link:hover {
    background-color: whitesmoke;
  }
  
  .btn-link:focus {
    outline: none;
  }
  
  .highlighted-link {
    background-color: lightgray;
  }