.questionDetailContainer {
  width: 89%;
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  padding-bottom: 50px;
  border-collapse: collapse;
  border-bottom: 3px dotted grey;

}


.questionDetailContainer .questionDetails {
  width: 93.5%;
  margin-left: 110px;
  margin-top: 10px;
  border-collapse: collapse;

}

.questionDetailContainer .questionDetails #numOfViews {
  width: 25%;
  padding-right:300px;
  font-weight: bolder;
}

.questionDetailContainer .questionDetails #questionText {
    font-weight: bolder; 
    text-align:center;
  }

.questionDetailContainer .questionDetails #author {
  padding-top: 30px;
  color: tomato;
  width: 25%;
  font-weight: bolder;
}

.questionDetailContainer .questionDetails #askedBy {
    position: absolute;
    margin-top: 60px;
    margin-left: -240px;
    color: gray;
  }


