.questionDetailTopContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    position:absolute;
    left: 200px;
    top: 75px;
    display: flex;
    flex-direction: row;
}

#numOfAnswers {
    display: inline-flex;
    padding-left: 100px;

}

#questionTitle {
    display: inline-flex;
    padding-left:300px;
    padding-top: 10px;
    text-align: center;

}

