.questionTableContainer {
    width: 100%;
    height: 725px;
    display: flex;
    flex-direction: row;
    position:absolute;
    left: 5px;
    top: 200px;
    display: flex;
    flex-direction: row;
}


.questionTableContainer .question #question-table {
    margin-left: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .questionTableContainer .question #tr1 {
    border-width: 3px;
    border-bottom: 1px dotted grey;
  }
  
  .questionTableContainer .question #td1 {
    width: 20%;
  }
  
  .questionTableContainer .question #who_asked {
    font-size: 16px;
    padding-left:460px;
  }
  
  .questionTableContainer .question #td1 {
    font-size: 16px;
    color: grey;
  }
  
  .questionTableContainer .question ul {
    list-style: none;
  }
  
  .questionTableContainer .question #paraf {
    font-size: 24px;
    color: blue;
    border-style: none;
  }
  
  #ulrow3 > #keyword-1,
  #keyword-2,
  #keyword-3,
  #keyword-4,
  #keyword-5 {
    display: inline-block;
    border-radius: 10px;
    background: dimgrey;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-right: 3px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: 150px;
    height: 20px;
    border: 1.5px solid #000;
    text-align: center;
    color: white;
    font-size: 16px;
  }