.questionDetailContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
}

.questionDetailContainer .questionDetails {
  width: 91.5%;
  margin-left: 110px;
  margin-top: 10px;
  border-collapse: collapse;
}

.questionDetailContainer .questionDetails #numOfViews {
  width: 25%;
  padding-right: 300px;
  font-weight: bolder;
}

.questionDetailContainer .questionDetails #questionText {
  font-weight: bolder;
  text-align: left;
}

.questionDetailContainer .questionDetails #questionText a {
  color: #007bff; /* Sets the link color */
  text-decoration: none; /* Removes the underline */
  transition: color 0.3s; /* Smooth color transition for hover effect */
}

.questionDetailContainer .questionDetails #questionText a:hover {
  color: #0056b3; /* Darkens the link color on hover */
  text-decoration: underline; /* Underlines the link on hover */
}

.questionDetailContainer .questionDetails #author {
  padding-top: 30px;
  color: tomato;
  width: 25%;
  font-weight: bolder;
}

.questionDetailContainer .questionDetails #askedBy {
  position: absolute;
  margin-top: 120px;
  margin-left: -340px;
  color: gray;
}
