/* ask question button */

#askQuestionButtonSP {
  background-color: rgb(15, 170, 205);
  border: none;
  width: 150px;
  font-size: 16px;
  padding: 10px;
  border-width: 2px;
  color: white;
  display: flexbox;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  position: absolute;

  right: 20px;
  top: 90px;
}
