/* The navigation menu links */
.btn-link {
  display: flex;
  color: blue;
  padding: 16px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  position: relative;
  width: 100%;
  border: none;
  background-color: white;
  height: 55px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  flex-direction: column;
}

.btn-link.active {
  background-color: lightgray;
}

.btn-link:hover:not(.active) {
  background-color: whitesmoke;
}
