.questionTableContainer {
    width: 100%;
    height: 725px;
    display: block;
    margin-left: 5px;
    margin-top: 200px;
}
/*.questiontable container -- > #question-table, ---> .question*/


.questionTableContainer .question {
  border-collapse: collapse;
  width: 100%;
}

.questionTableContainer #question-table{
  width: 100%;
}


.question #tr1 {
    border-width: 3px;
    border-bottom: 3px dotted grey;
    border-collapse: collapse;

  }
  
  .questionTableContainer .question #td1 {
    width: 20%;
  }

  .questionTableContainer .question #td2 {
    width: 55%;
  }

  .questionTableContainer .question #td3 {
    width: 25%;
  }
  
  .questionTableContainer .question #who_asked {
    font-size: 16px;
    /*padding-left:460px;*/
    padding-left: 200px;
  }
  
  .questionTableContainer .question #td1 {
    font-size: 16px;
    color: grey;
  }
  
  .questionTableContainer .question ul {
    list-style: none;
  }
  
  .questionTableContainer .question #paraf {
    font-size: 24px;
    color: blue;
    border-style: none;
  }
  .question ul {
    padding: 0%;
  }
  
  #ulrow3 > #keyword-1,
  #keyword-2,
  #keyword-3,
  #keyword-4,
  #keyword-5 {
    display: inline-block;
    border-radius: 10px;
    background: dimgrey;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-right: 3px;
    padding-top: 6px;
    padding-bottom: 5px;
    width: 150px;
    height: 20px;
    border: 1.5px solid #000;
    text-align: center;
    color: white;
    font-size: 16px;
  }