.TagsPage {
    margin-top: 170px;
    width: 100%;
    position: absolute;
  }
  
  .TagsPage #TagsTable {
    border-collapse: separate;
    border-spacing: 160px 50px;
  }
  
  .TagsPage .tag-container {
    border-style: dotted;
    border-width: thin-medium;
    width: 150px;
    padding-right: 70px;
    padding-left: 25px;
    border-spacing: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    text-align: center;
  }
  
  .TagsPage .tag-list {
    list-style-type: none;
  }
  
  .TagsPage .tag-name,
  .TagsPage {
    font-size: 25px;
  }
  
  .TagsPage .tag-count {
    font-size: 20px;
  }
  
  .tag-link {
    cursor: pointer;
    text-decoration: none;
    color: blue;
  }