.tagsTop {
    width: 89.21%;
    height: 100px;
   
}
.tagsTop #numTags {
    padding-left: 60px;
}

.tagsTop #allTags {
    position: absolute;
    top: 6px;
    left:500px;
}

.tagsTop #askQuestionButton{
    right: 80px;
}